.heroFrame{
  position: relative;
  display: flex;
  flex: 1 1 auto;
  height: 130px;
  align-items: center;
  z-index: 20;
}
.heroFrame__leftPart{
  flex: 0 0 200px;
  border-radius: 12px;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heroFrame__rightPart{
  flex: 1 1 300px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.heroFrame__name{
  font-size: 2.4rem;
  color: white;
  font-weight: bold;
}
.heroFrame__roles{
  font-size: 0.7rem;
  color:rgb(216, 223, 229);
}