.ivsmInputField{
  display: flex;
  flex-direction: column;
}
.ivsmInput{
  padding: 15px 15px;
  border-radius: 2px;
  background-color: rgba(103, 107, 122, 0.438);
  color: white;
  font-size: 1.2rem;
}