.ivsmButton{
  padding: 15px 10px;
  border-radius: 3px;
  background-color: rgb(75, 171, 255);
  color: white;
  text-align: center;
  font-size: 1.2rem;

  transition-property: background-color;
  transition-duration: 0.1s;
}
.ivsmButton:active{
  background-color: rgb(53, 146, 226);
}