html{
  height: 100%;
}
body{
  overflow-x: hidden;
  height: 100%;
  background-color: rgb(60, 105, 176);
  color: rgb(197, 198, 198);
  font-family: sans-serif;
}
#root{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main{
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}
.h1{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color:rgb(255, 255, 255);
}
.h4{
  font-size: 1rem;
}