.main{
  flex: 1 1 auto;
}
.content{
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroes_header{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.subtitle{
  margin-left: auto;
  text-align: right;
}
.subtitle__h3{
  color: rgb(230, 230, 230);
  font-size: 1.2rem;
  word-spacing:2px;
  letter-spacing:1px;
  text-decoration-line:underline;
}
.subtitle__matches{
  color: rgb(230, 230, 230);
}

