.header{
  position: sticky;
  left: 0;
  top: 0;
  right: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(15, 25, 61, 0.6);
  backdrop-filter: blur(20px);
  z-index: 100;
}
.content{
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-width: 1900px;
  height: 100%;
}
.menuButton{
  margin-left: 5px;
}
.menuLogo{
  margin-left: 5px;
}
.link{
  padding-bottom: 5px;
  font-size: 1.3rem;
  border: 3px solid transparent; 
  transition-property: color, border;
  transition-duration: 0.2s;
}
.link:hover{
  color: #fff;
  border-bottom: 2px solid white; 
}
.links{
  margin-left: 30%;
  display: flex;
  column-gap: 35px;
  transform: translateX(-50%);
}