.navBar{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgba(15, 25, 61, 0.6);
  backdrop-filter: blur(20px);
  z-index: 100;
}
.menuButton{
  margin-left: 5px;
}
.menuLogo{
  margin-left: 5px;
}
.link{
  font-size: 1.3rem;
}
.link:hover{
  color: #fff;
  text-underline-offset: 10px;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
.links{
  position: absolute;
  left: 48%;
  display: flex;
  column-gap: 40px;
  transform: translateX(-50%);
}